@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #ECECEC;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 435px;
    min-height: auto;
    border-radius: 40px;
    padding: 100px 64px;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2), -5px -5px 10px rgb(255, 255, 255);
}

h1{
    opacity: 0.5;
    margin-bottom: 60px;
}

.user, .passwd{
    width: 307px;
    height: 45px;
    background: none;
    border: none;
    outline: none;
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.1), -5px -5px 4px rgb(255, 255, 255, 0.5);
    text-align: left;
    padding-left: 35px;
}

.user:focus, .passwd:focus{
    box-shadow: inset 5px 5px 10px rgb(0, 0, 0, 0.1), inset -5px -5px 4px rgb(255, 255, 255, 0.5);
}

.user{
    margin-bottom: 32px;
}

.passwd{
    margin-bottom: 24px;
}

a{
    margin-bottom: 12px;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0, 0.5);
    padding: 0 75px;
    margin-bottom: 32px;
}

.icons .circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ECECEC;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(255, 255, 255, 0.5);
    justify-content: center;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.google{
    width: 25px;
    height: auto;
    opacity: 0.5;
}

.facebook{
    width: 17px;
    height: auto;
    opacity: 0.5;
}

.btn{
    width: 250px;
    height: 60px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px rgb(255, 255, 255, 0.5);
    background: none;
    outline: none;
    border: none;
    color: rgb(0, 0, 0, 0.5);
    position: relative;
    left: 10%;
    cursor: pointer;
}

.btn:focus{
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px rgb(255, 255, 255, 0.5);
}

@media (max-width: 430px){
    .container{
        box-shadow: none;
    }
}

@media (max-width: 320px){
    h1{
        margin-top: -80px;
        margin-bottom: 48px;
    }

    .user, .passwd{
        width: 271px;
    }

    .user{
        margin-bottom: 12px;
    }

    .icons{
        padding: 0 60px;
    }

    .btn{
        left: 4%;
    }
}